.Footer{
    background-color: var(--brown); height: fit-content;  width: 100%;}

.Footer ul li:first-child{
    color: var(--beige);
 font-size: 1.2rem;
 padding-bottom: 10px;
}
.Footer ul li{
    color: var(--beige);
    transform: scale(0.8);

}
.f2{width: 100%;    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;padding: 0;
}
.f2 img{
    width: 100%;
    height: 120px;
  

}
.Footer .ssvg svg {
    fill:var(--beige) ;
    

}.f3{padding-top: 2rem;}
.Footer p{
    
    color:var(--beige) ;
text-align: center;
transform: scale(0.7);
}
/*==MEDIA QUERRY*/

@media (min-width: 320px) and (max-width: 480px) {
    .f1{
          display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
   
        gap: 1rem;

    }
 .Footer{     padding: 2vh 2vw;}
 }
 
 @media (min-width: 481px) and (max-width: 768px) {
    .f1{
        display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;

  }
  .Footer{    
    padding: 2vh 2vw;
}

 }
 @media (min-width: 769px) {
    .f1{
  display: grid;
  grid-template-columns: 25% 25% 25%25%;
  
    }
    .Footer{    
        padding: 2vh 5vw;
    }
 }
